.mt-earn__content_alt {
  background-color: #111;
}

.mt-title_about {
  width: 536px;
  margin: 0 auto;
}

.mt-hero_alt {
  display: flex;
  padding: 0;
  margin-top: 100px;

  .mt-hero__inner {
    display: block;
    max-width: 1440px;
  }

  .mt-hero__content {
    text-align: center;
    align-items: center;
    max-width: 100%;
    width: 722px;
    margin: 0 auto;
  }

  .mt-subtitle {
    width: 569px;
  }

  &__images {
    display: block;
    position: relative;
    align-items: center;
  }
}

.mt-backed {

  .mt-title {
    width: 538px;
    text-align: center;
    margin: 120px auto 42px;
  }

  .mt-container {
    max-width: 1440px;
    position: relative;
    background-color: #B8B8B8;
    padding-top: 60px;
  }

  .mt-people__name {
    text-align: center;
  }

  .mt-people__position {
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.01em;
  }

  &__people {
    display: flex;
    position: relative;
    width: 735px;
    margin: 48px auto 62px;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__card {
    width: 157px;
    height: 167px;
    position: relative;
    flex-direction: column;
  }

  .mt-backed__photo {
    border: unset;
  }

  .mt-backed__logo_alt {
    background-color: #FE66BA;
    position: absolute;
    border-radius: 100%;
    border: 1px solid #E3E3E3;
    width: 48px;
    height: 48px;
    right: -20px;
    top: -20px;
  }

  &__partners {
    margin: auto 0;
  }

  &__partners_list {
    display: flex;
    gap: 136px;
    justify-content: center;
    margin-bottom: 62px;
  }

  &__partner {

  }

  &__partner_logo {
    display: flex;
    position: relative;
    width: 157px;
    height: 157px;
    margin: 0 auto 16px;
    border: 1px solid #E3E3E3;
    background-color: #302F4D;
    border-radius: 100%;

    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
  }

  &__list {
    gap: 12px;
  }

  &__item {
    width: 118px;
  }

  &__logo {
    width: 85px;
    height: 85px;
  }
}

.mt-about_alt {
  background: #F1F2F5;
  padding: 0;

  .mt-container {
    max-width: 1440px;
    padding-left: 160px;
    padding-bottom: 120px;
  }

  .mt-title_about {
    margin: 120px 0 0;
  }

  .mt-about__card {
    padding: 15px;
    background-color: #fff;
  }

  &__date {
    font-size: 12px;
    color: #707070;
    opacity: 0.6;
  }
}

.mt-people {
  margin: 0 auto;

  .mt-title {
    margin-top: 120px;
    margin-bottom: 100px;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 38px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  &__name {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.01em;
    color: #0A0A0A;
  }

  &__position {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.01em;
    color: #707070;
  }


}

.mt_earn_alt {
  margin: 0;

  .mt-container {
    max-width: 1284px;
  }
}
