:root {
  --translateEarn: 0px
}

.mobile-modal-menu {
  display: none;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 4px;
  width: 100%;
  background: rgba(255, 255, 255, 0.94);
  z-index: 4;
  border: 1px solid #E3E3E3;
  backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 0 20px 0 24px;
  //padding: 12px 20px;
  &__content {
    display: flex;
    align-items: center;
  }

  &__logo-wrapper {
    float: left;
    margin-right: 60px;
  }

  &__links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;

    .link.dropdown {
      display: inline-block;
      position: relative;
      padding: 24px 0;
      cursor: pointer;

      .dropdown-wrapper {
        visibility: hidden;
        position: absolute;
        top: 54px;
        left: -82px;
        z-index: 2;
        padding: 12px 0;
        cursor: auto;
        opacity: 0;
        transition: opacity 0.3s;
      }

      .dropdown-content {
        background: #FFFFFF;
        border: 1px solid #E3E3E3;
        backdrop-filter: blur(4px);
        border-radius: 10px;
      }

      &:hover {
        color: #3C37FF;

        .dropdown-wrapper {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .products {
      //.dropdown-wrapper {
      //left: 115px;
      //left: auto;
      //}

      .dropdown-content {
        width: 658px;

        &__item {
          flex: 1 1;
          padding: 12px 12px 16px;

          &:nth-child(1) {
            border-bottom: 1px solid #E3E3E3;
          }

          .item-title {
            opacity: 0.5;
            margin-bottom: 12px;
            padding-left: 12px;
          }

          .item-links {
            border-radius: 4px;
            user-select: none;
            cursor: pointer;
            display: flex;
            //flex-direction: column;
            gap: 5px;
            //height: 208px;

            .item-link {
              padding: 12px 16px;
              border-radius: 4px;
              flex: 1 1;

              &:hover {
                background: #FAFAFA;
              }

              a {
                display: flex;
                gap: 18px;

                .icon-wrapper {

                }

                .item-link-content {
                  padding-right: 4px;

                  .item-link-name {
                    margin-bottom: 12px;
                  }

                  .item-link-description {
                    opacity: 0.8;
                  }
                }
              }
            }
          }
        }
      }
    }

    .customers, .solutions, .developers, .resources, .about {
      .dropdown-wrapper {
        left: 270px;
      }

      .dropdown-content {
        width: 384px;
        height: 268px;
        padding: 12px;

        .dd-links {
          display: flex;
          flex-direction: column;
          gap: 4px;

          .dd-link {
            a {
              width: 100%;
              padding: 12px 16px;
              border-radius: 4px;
              cursor: pointer;
              display: flex;
              align-items: center;

              &:hover {
                background: #FAFAFA;
              }

              .dd-link-icon {
                width: 32px;
                height: 32px;
                background: #F1F2F5;
                border-radius: 8px;
                margin-right: 18px;

                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }
      }
    }

    .developers {
      //.dropdown-wrapper {
      //  left: auto;
      //}

      .dropdown-content {
        height: 403px;

        .dd-links {
          .dd-link-content {
            max-width: 239px;

            .dd-link-name {
              margin-bottom: 4px;
            }
          }

          .dd-link {
            a {
              align-items: baseline;
            }
          }
        }
      }
    }

    .resources {
      //.dropdown-wrapper {
      //left: 442px;
      //left: auto;
      //}

      .dropdown-content {
        width: 260px;
        height: max-content;
      }
    }

    .about {
      //.dropdown-wrapper {
      //left: 528px;
      //left: auto;
      //}

      .dropdown-content {
        width: 240px;
        height: max-content;
      }
    }
  }

  &__btn-wrapper {
    display: flex;

    .BTN_2 {
      color: #ffffff;
    }
  }

  .mt-button.nav-bar__btn {
    padding: 7px 16px;
    right: 0;
    margin-right: 6px;
  }

  &__open-mobile-menu {
    display: none;
  }
}

body {
  font-family: 'Faktum', sans-serif;
}

section:not(:last-child) {
  margin-bottom: 0;
}

.footer_cta {
  display: none;
}

main {
  overflow: unset;
}

footer .box, footer .copyright {
  display: none;
}

.mt-header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  max-width: 1432px;
  margin: 4px auto;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: #fff;
    border: 1px solid #E3E3E3;
    border-radius: 10px;
  }

  &__navbar {
    align-items: center;
    margin-right: auto;
  }

  &__btn {
    margin-right: 12px;
  }

  .mt-button_menu {
    display: none;
  }

  &__logo {
    padding-left: 20px;
  }

  &__list {
    display: flex;
    gap: 24px;
    margin-top: 21px;
    margin-left: 39px;
    list-style-type: none;
  }

  &__item {
    font-family: 'Satoshi', serif;
    float: left;
    padding-bottom: 21px;
    transition: .3s ease;

    &:hover {
      color: #3C37FF;
      cursor: pointer;
    }

    &:hover > ul {
      display: block;
    }
  }

  &__sublist {
    position: absolute;
    top: 100%;
    display: none;
    flex-direction: column;
    width: max-content;
    padding: 6px;
    list-style: none;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 2px RGB(0 0 0 / 2%), 0 6px 8px RGB(0 0 0 / 6%);
  }

  &__subitem {
    display: block;
    width: 100%;
    margin: 15px 0;
    text-align: left;
    background: #fff;

    a {
      width: 100%;
      padding: 10px 15px 10px 5px;
      color: #0A0A0A;
      font-size: 18px;

      &:hover {
        color: #3C37FF;
        background: #F1F2F5;
        border-radius: 8px;
        transition: .3s ease;
      }
    }
  }

  &__footer {
    display: none;
  }
}

.mt-hero {
  position: relative;
  margin-left: 20px;
  padding: 47px 0 24px;
  overflow: hidden;

  .mt-subtitle {
    margin-top: 0;
    color: #000;
    opacity: 1;
  }

  .mt-trusted__title {
    margin: 94px 0 0;
  }

  &__title {
    z-index: 1;
    background-color: #fff;

    span {
      color: #3C37FF;
    }
  }

  &__inner {
    position: relative;
    display: flex;
    max-width: 1348px;
    margin: 0 auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    max-width: 518px;
    margin-top: 153px;
  }

  &__partners {
    display: flex;
    gap: 13px;
    list-style-type: none;
  }

  &__partner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 15px;
    border: 1px solid #F4F4F4;
    border-radius: 4px;
  }

  &__images {
    position: absolute;
    right: -67px;
    width: 814px;
    height: 505px;
    top: 110px;
  }

  &__image_mobile {
    display: none;
  }
}

#mtHeroTitle {
  display: block;
  margin-top: -24px;
  animation: bobbingAnim 2s infinite;

  &:after {
    content: 'bill pay';
    animation: changeMainText 6s infinite;
  }
}

@keyframes changeMainText {
  5%, 33% {
    content: 'bill pay';
  }
  37%, 66% {
    content: 'invoicing';
  }
  71%, 99% {
    content: 'B2B payments';
  }
}

@keyframes bobbingAnim {
  0% {
    transform: translate3d(1px, 80px, 0);
  }

  10%, 80% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(1px, -65px, 0);
  }
}

.mt-earn {
  padding: 120px 78px 90px;
  text-align: center;

  .mt-title {
    color: #000000;
  }

  .mt-subtitle {
    margin-top: 16px;
    color: #000000;
    font-weight: 400;
  }

  .mt-container {
    max-width: 1284px;
  }

  &__inner {
    top: 20px;
    bottom: 0;
    height: 2100px;
    margin-top: 90px;
    background-color: #3C37FF;
    border-radius: 10px;
  }

  &__head {
    top: 0;
    display: flex;
    justify-content: flex-end;
    height: 700px;
    padding: 168px 115px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border-radius: 10px;

    &_first {
      background-image: url('https://monite.com/wp-content/uploads/2023/03/earn_bg_first.png');
    }

    &_second {
      background-image: url('https://monite.com/wp-content/uploads/2023/03/earn_bg_second.png');
    }

    &_third {
      background-image: url('https://monite.com/wp-content/uploads/2023/03/earn_bg_third.png');
    }
  }

  &__content {
    display: flex;
    justify-content: space-around;
    margin-top: 98px;
    padding-top: 163px;
    background: #3C37FF;
    border-radius: 10px;
  }

  &__images {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .mt-earn-line-after, .mt-earn-line-before {
      position: relative;
      height: 214px;
      width: 2px;
      border-left: 1px solid;
    }

    .mt-earn-line-after {
      top: -64px;
      border-image: linear-gradient(to bottom, #3D38FF, #FE66BA) 1 100%;
    }

    .prime, .second {
      &:before {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #3C37FF;
        top: -8px;
        left: -5px;
      }
    }

    .second {
      top: -74px;
    }

    .mt-earn-line-before {
      top: -64px;
      border-image: linear-gradient(to bottom, #FE66BA, #3D38FF) 1 100%;
    }

    .mt-earn-line-before.last-before {
      top: -74px;
    }
  }

  &__head-inner {
    position: sticky;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 413px;

    .mobile-image-wrapper {
      display: none;
    }

    &_active {
      display: flex;
    }
  }

  &__head-sticky {
    position: sticky;
    top: calc(50vh - 162px);
    align-self: flex-start;
    margin-bottom: 90px;
  }

  &__head-title {
    color: #FFF;
    font-weight: 600;
    font-size: 28px;
    line-height: 110%;
    letter-spacing: -0.01em;
    text-align: left;

    &_alt {
      margin-top: 40px;
    }
  }

  &__head-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    margin-top: 32px;
  }

  &__head-item {
    color: #FFF;
    font-family: 'Satoshi', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-align: left;
  }

  &__cards {
    display: flex;
    gap: 13px;
    margin-top: 32px;
    padding: 0;
    list-style-type: none;
    justify-content: center;
  }

  &__cards-inner {
    position: sticky;
    z-index: 2;
    max-width: 1120px;
    margin: 90px auto 0;
  }

  &__card {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 193px;
    padding: 28px 0;
    background: #F1F2F5;
    border-radius: 10px;
  }

  &__card-title {
    margin: 0;
    color: #111;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.01em;
  }

  &__cards-head {
    color: #111;
    font-weight: 600;
    font-size: 28px;
    line-height: 110%;
  }
}

.mt-badge {
  margin-bottom: 12px;
  color: #707070;
  font-weight: 600;
  font-size: 12px;
  line-height: 110%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.mt-title {
  align-items: center;
  color: #111;
  font-weight: 600;
  font-size: 48px;
  line-height: 110%;
  letter-spacing: -0.02em;

  &_white {
    color: #fff;
  }

  &_left {
    text-align: left;
  }
}

.mt-subtitle {
  margin-top: 32px;
  color: #111;
  font-family: 'Satoshi', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.01em;
  opacity: 0.6;

  &_white {
    color: #fff;
  }
}

.mt-container {
  max-width: 1120px;
  margin: 0 auto;
}

.mt-features {
  padding: 120px 20px 105px;
  text-align: center;
  background-color: #F1F2F5;

  &__content {
    text-align: left;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 120px;
  }

  &__caption {
    font-family: 'Satoshi', serif;
    margin-top: 30px;
    color: #0A0A0A;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-align: left;
    opacity: 0.6;
  }

  &__head {
    font-family: 'Satoshi', serif;
    display: flex;
    gap: 24px;
    align-items: center;
    max-width: 424px;
    margin-top: 32px;
    color: #0A0A0A;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-align: left;

    &::before {
      display: block;
      width: 4px;
      min-width: 4px;
      height: 108px;
      background: linear-gradient(180deg, #3D38FF 0%, #FE66BA 100%);
      border-radius: 10px;
      content: '';
    }

    &_small {
      &::before {
        height: 68px;
      }
    }
  }

  &__list {
    display: flex;
    font-family: 'Satoshi', serif;
    flex-direction: column;
    gap: 16px;
    margin-top: 17px;
    margin-bottom: 32px;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    display: flex;
    gap: 16px;
    color: #3B3B3B;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-align: left;

    &::before {
      display: block;
      width: 24px;
      height: 24px;
      background-image: url('https://monite.com/wp-content/uploads/2023/03/mt-features__icon.svg');
      content: '';
    }
  }

  &__image {
  }
}

.mt-trusted {
  padding: 1px 0;
  background: #F3F3F3;

  &__title {
    margin-top: 32px;
    margin-bottom: 35px;
    color: #111;
    font-weight: 600;
    font-size: 12px;
    line-height: 110%;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
  }

  &__logos {
    display: flex;
    flex-wrap: wrap;
    gap: 86px;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    list-style: none;
  }
}

.mt-development {
  padding: 159px 0 120px;
  background: #111111;

  .mt-container {
    max-width: 1120px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__subtitle {
    max-width: 446px;
  }

  &__buttons {
    display: flex;
    gap: 24px;
    margin-top: 44px;
  }

  &__images {
    max-width: 465px;
    height: auto;
    background: #302F4D;
    border-radius: 10px;
    position: absolute;
    right: 23px;
    top: -37px;
  }

  &__cards {
    display: flex;
    gap: 8px;
    margin-top: 130px;
    justify-content: center;
  }

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 17px;
    width: 100%;
    max-width: 368px;
    padding: 39px 30px 44px 44px;
    background: #3B3B3B;
    border-radius: 10px;

    &::after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -27px;
      z-index: 1;
      width: 46px;
      height: 46px;
      background-image: url('https://monite.com/wp-content/uploads/2023/03/mt-development__icon.svg');
      content: '';
    }

    &:last-child {
      &::after {
        content: unset;
      }
    }
  }

  &__card-title {
    color: #FFF;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: -0.01em;
  }

  &__card-subtitle {
    font-family: 'Satoshi', serif;
    color: #FFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    opacity: 0.8;
  }
}

.mt-payments {
  padding: 120px 0 86px;
  text-align: center;

  .mt-title {
    margin-bottom: 16px;
  }

  .mt-subtitle {
    font-weight: 400;
  }

  .mt-container {
    max-width: 1284px;
  }

  .desktop-wrapper {
    display: initial;
  }

  .mobile-wrapper {
    display: none;
  }

  .function-demonstration {
    padding: 0;
    border-radius: 10px;

    .function-demonstration__content {
      .fd-content {
        padding: 46px 82px 0 46px;

        .function-selector {
          padding: 0;
          margin-left: 50px;

          ul {
            li {
              font-weight: 400;
            }
          }
        }
      }
    }
  }

  .function-demonstration__content .fd-content {
    background: #F1F2F5;
  }

  .function-demonstration__content .fd-content .demonstration .demonstration-images-wrapper .fd-image .has-point {
    background: transparent;
  }

  .function-demonstration__content .fd-content .function-selector .checkedItem {
    background: #fff;
  }

  .function-demonstration.ar-page.payment-links-page .function-demonstration__content .fd-content .function-selector {
    padding-right: 0;
  }

  .function-demonstration__content .fd-content .demonstration .demonstration-images-wrapper .fd-image {
    background: #F1F2F5;
  }

  &__inner {
    margin-top: 68px;
  }

  &__filter {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 343px;
    height: 62px;
    margin: 0 auto 22px;
    padding: 6px;
    list-style-type: none;
    background: #F3F3F3;
    border-radius: 310px;
    justify-content: space-around;
  }

  &__filter-toggle {
    position: absolute;
    left: 6px;
    display: block;
    width: 165px;
    height: 50px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    font-family: Inter, sans-serif;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    background-color: #3C37FF;
    border-radius: 40px;
    transition: all .4s;
    will-change: transform;
  }

  &__filter-item {
    z-index: 2;
    display: flex;
    gap: 11px;
    padding: 16px 38px 16px 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    letter-spacing: -0.01em;
    align-items: center;
    cursor: pointer;

    &_first {

    }

    svg path {
      fill: #111;
    }

    &:hover {
      color: #3C37FF;

      svg path {
        fill: #3C37FF;
      }
    }

    &_active {
      color: #fff;

      svg path {
        fill: white;
      }

      &:hover {
        color: #fff;

        svg path {
          fill: white;
        }
      }
    }
  }
}

.mt-one-stop {
  display: block;
  padding: 120px 0 0;

  .mt-container {
    .mt-subtitle {
      margin-top: 16px;
      font-weight: 400;
      opacity: 1;
    }
  }

  &__cards {
    display: flex;
    gap: 8px;
    margin-top: 52px;
    margin-bottom: 120px;

    &_alt {
      margin-top: 65px;
      margin-bottom: 0;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 55px;
    justify-content: space-around;
    width: 100%;
    max-width: 368px;
    padding: 44px;
    background: #F1F2F5;
    border-radius: 10px;

    &_alt {
      gap: 61px;
      justify-content: flex-start;
      max-width: 554px;
      text-align: left;

      &:nth-child(2) {
        gap: 39px;
      }
    }
  }

  &__card-badge {
    color: #111;
    font-weight: 600;
    font-size: 38px;
    line-height: 110%;
    letter-spacing: -0.01em;

    &_alt {
      color: #3C37FF;
    }
  }

  &__card-title {
    color: #3C37FF;
    font-weight: 600;
    font-size: 28px;
    line-height: 110%;
  }

  &__card-text {
    font-family: 'Satoshi', serif;
    margin-top: auto;
    color: #111;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    opacity: 0.9;

    &_alt {
      max-width: 241px;
      margin-top: 18px;
      font-size: 12px;
      opacity: 1;
    }

    &_third {
      max-width: 256px;
      opacity: 0.6;
    }
  }

  &__reasons {
    margin-top: 100px;
    text-align: center;
  }

  &__reasons-title {
    color: #111;
    font-weight: 600;
    font-size: 28px;
    line-height: 110%;
    text-align: center;
  }

  &__reasons-img {
    margin-top: 44px;

    img {
      max-width: 882px;
      height: auto;
    }

    &_mob {
      display: none;
    }
  }

  &__shops {
    margin-top: 120px;

    & > ul {
      justify-content: center;
    }
  }

  &__card-inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    & li:nth-child(2) {
      width: 258px;
    }
  }
}

.how-mach-revenue.bill-pay.main {
  .back-images {
    background: url("https://monite.com/wp-content/uploads/2023/04/left-main.png") no-repeat left top,
    url("https://monite.com/wp-content/uploads/2023/04/right-main.png") no-repeat right bottom;
    background-size: contain;
  }

  .revenue-subtitle {
    font-weight: 400;
  }
}

.mt-about {
  display: block;
  padding: 120px 0 90px;
  overflow: hidden;

  .mt-container_scroll {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }

  .mt-subtitle {
    font-size: 12px;
    text-transform: uppercase;
    margin: 0;
  }

  .mt-title {
    margin-top: 12px;
  }

  &__container {
    max-width: 1120px;
    margin: 0 auto;
  }

  .mt-scroll-buttons {
    display: flex;
    margin-top: 30px;
  }

  &__content {
    display: flex;
  }

  &__content_text {
    text-align: left;
  }

  &__button {
    gap: 10px;
    margin-left: auto;
    padding: 7px 10px;
    color: #0A0A0A;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 140%;
    border: 1px solid #DDD;
    border-radius: 10px;
  }

  &__btnMobile {
    display: none;
  }

  &__cards {
    display: flex;
    margin-top: 44px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 349px;
    height: 349px;
    padding: 44px;
    background: #F1F2F5;
    border-radius: 10px;

    img, svg {
      margin-bottom: 44px;
    }
  }

  &__card-text {
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: -0.01em;
    width: 100%;
    margin-bottom: 8px;
  }

  .mt-about__date {
    font-family: 'Satoshi', serif;
    font-style: normal;
    color: #707070;
    font-size: 12px;
    opacity: 0.6;
  }

  &__link {
    position: relative;
    width: 110px;
    height: 22px;
    color: #0A0A0A;
    margin-top: auto;
    transition: all .4s;

    svg path {
      transition: all .4s;
    }

    &:hover {
      color: #3C37FF;

      svg path {
        fill: #3C37FF;
      }
    }
  }

  &__btn {
    display: flex;
    height: 22px;
    font-family: 'Satoshi', serif;
    font-style: normal;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    justify-content: space-between;
  }

  .mt-review {
    margin-top: 90px
  }

  &__images {
    display: flex;
    gap: 16px;
  }

  .glide__bullets {
    display: none;
  }
}

.mt-cta-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1284px;
  margin: 120px auto !important;
  padding: 59px 0;
  text-align: center;
  background: url('https://monite.com/wp-content/uploads/2023/03/CTA-scaled.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;

  .mt-subtitle {
    margin-top: 24px;
    color: #111;
    font-weight: 400;
  }

  &_alt {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 77px 82px;
    text-align: left;
    background-image: url('https://monite.com/wp-content/uploads/2023/03/CTA.png');
    background-size: contain;

    .mt-title {
      color: #fff;
    }

    .mt-subtitle {
      color: #fff;
    }
  }

  &__button {
    margin-top: 58px;
  }
}

.mt-button {
  display: flex;
  width: fit-content;
  padding: 15px 30px;
  font-family: 'Satoshi', serif;
  font-style: normal;
  color: #fff;
  background-image: linear-gradient(180deg, #3C37FF 0%, #3C37FF 100%);
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, #3C37FF 0%, #FE66BA 100%);
    z-index: -1;
    border-radius: 10px;
    transition: opacity 0.3s linear;
    opacity: 0;
  }

  &:hover {
    text-decoration: none;
  }

  &:hover::before {
    opacity: 1;
  }

  &_black {
    background: transparent;
    border: 1px solid #FFF;

    &:hover {
      color: #000;
      background: #fff;
      transition: .3s;
    }

    &:before {
      content: unset;
    }
  }
}

.mt-scroll-buttons {

  &__button_left {
    margin-right: 50px;
    font-size: 28px;
  }

  &__button_right {
    font-size: 28px;
  }

  .glide__arrow--disabled {
    cursor: not-allowed;
    pointer-events: none;

    svg path {
      fill: grey;
    }
  }
}

.mt-review {
  display: flex;
  flex-direction: column;
  font-family: 'Satoshi', serif;
  gap: 24px;
  align-items: center;
  max-width: 927px;
  margin: 0 auto;

  &_small {
    max-width: 743px;
  }

  &__text {
    color: #111;
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0.01em;
    text-align: center;
  }

  &__author {
    color: #111;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-align: center;
  }
}

.mt-footer {
  font-family: 'Satoshi', serif;
  padding: 70px 0 56px;
  background-color: #F1F2F5;

  &__inner {
    max-width: 1120px;
    margin: 0 auto;
  }

  .mt-footer-logo-nav-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .mt-footer-logo {
    display: flex;
    gap: 90px;
  }

  &__mail a {
    color: #111;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  &__nav {
    display: flex;
    gap: 100px;
  }

  &__nav-menu {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }

  &__nav-menu-head {
    color: #111;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    opacity: 0.5;
  }

  &__nav-menu-link {
    color: #111;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;

    a {
      color: #111;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .mt-footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
  }

  .mt-footer-companies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;

    .company-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 77px;
      height: 36px;
      margin-bottom: 8px;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__socials {
    display: flex;
    gap: 13px;

    li {
      a {
        display: flex;

        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  &__copy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 44px;
    padding-top: 52px;
    border-top: 1px solid #B8B8B8;
  }

  &__nav-menu_bottom {
    display: flex;
    gap: 24px;

    .mt-footer__nav-menu-link {
      font-weight: 500;
    }
  }

  &__copy-inner {
    display: flex;
    gap: 50px;
    color: #111;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    opacity: 0.5;
  }
}

.mt-main-cases {
  padding: 120px 160px 90px;
  overflow: hidden;
  text-align: center;

  &__container {
    max-width: 1120px;
    margin: 0 auto;
  }

  .mt-scroll-buttons {
    display: flex;
    margin-top: 32px;
    justify-content: left;
  }

  &__cards {
    display: flex;
    gap: 36px;
    margin-top: 90px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: flex-end;
    max-width: 542px;
    width: 100%;
    height: 580px;
    padding: 44px;
    text-align: left;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    border-radius: 10px;

    &:nth-child(1) {
      background-image: url('https://monite.com/wp-content/uploads/2023/04/enty.png');
    }

    &:nth-child(2) {
      background-image: url('https://monite.com/wp-content/uploads/2023/04/finswiss.png');
    }

    &:nth-child(3) {
      background-image: url('https://monite.com/wp-content/uploads/2023/04/intrepid.png');
    }

    &:nth-child(4) {
      background-image: url('https://monite.com/wp-content/uploads/2023/04/niobi.png');
    }
  }

  &__card-title {
    color: #000;
    font-weight: 600;
    font-size: 28px;
    line-height: 110%;
  }

  &__card-text {
    font-family: 'Satoshi', serif;
    color: #0A0A0A;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    opacity: 0.6;
  }

  &__card-review {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  .glide__bullets {
    display: none;
  }
}

@media screen and (max-width: 1310px) {
  .mt-hero {
    &__images {
      right: -167px;
    }
  }

  .mt-about {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 1144px) {
  .mt-hero {
    margin-top: 60px;
    padding-top: 16px;
    padding-bottom: 0;

    .mt-trusted__title {
      margin-top: 0;
    }

    &__inner {
      flex-direction: column;
      align-items: center;
    }

    &__images {
      position: relative;
      right: 0;
      left: 0;
      top: unset;
      width: 100%;
      height: auto;
      margin-top: 12px;
    }

    &__content {
      margin-top: 0;
    }

    &__partner {
      padding: 8px;
    }
  }

  .mt-one-stop {
    margin: 0 20px;

    .mt-container {
      margin: 0 auto;
    }

    &__card {
      gap: 40px;
    }

    &__card-title {
      font-size: 26px;
    }
  }

  .mt-earn {
    &__cards {
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 991px) {
  @keyframes animatedTopMenu {
    from {
      top: -1000px;
      opacity: 0.5
    }
    to {
      top: 0;
      opacity: 1
    }
  }
  .mobile-modal-menu {
    display: none;
    position: fixed;
    width: 100%;
    height: calc(100vh - 54px);
    background: white;
    z-index: 10;
    top: 54px;
    overflow: auto;

    &__content {
      position: relative;
      //visibility: visible;
      padding: 30px 20px;
      animation-name: animatedTopMenu;
      animation-duration: 1s;

      .nav-bar__links {
        display: flex;
        flex-direction: column;
        overflow: visible;
        cursor: auto;

        .link.dropdown {
          display: block;

          .dropdown-link {
            display: inline-block;
            padding-left: 8px;
            margin-bottom: 24px;
            color: #3C37FF;
            font-size: 12px;
          }

          .dropdown-wrapper {
            visibility: visible;
            position: static;
            padding: 0;
            cursor: auto;
            opacity: 1;
          }

          .dropdown-content {
            width: 100%;
            border: none;
          }
        }

        .products {
          .dropdown-content__item {
            border: none;
            padding: 8px 0;

            .item-title {
              padding-left: 8px;
            }

            .item-links {
              flex-direction: column;
              gap: 12px;

              .item-link {
                padding: 0;

                a {
                  background: #FAFAFA;
                  border-radius: 4px;
                  gap: 12px;
                  padding: 8px;

                  .item-link-content {
                    .item-link-name {
                      margin-bottom: 4px;
                    }
                  }
                }
              }
            }
          }
        }

        .customers, .solutions, .developers, .resources, .about {

          .dropdown-content {
            padding: 0;
            height: auto;

            .dd-links {
              gap: 12px;

              .dd-link {
                a {
                  align-items: baseline;
                  padding: 8px;
                  background: #FAFAFA;

                  .dd-link-icon {
                    width: 22px;
                    height: 22px;
                    background: #F1F2F5;
                    border-radius: 5.5px;
                    margin-right: 12px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .openMobileMenu {
    visibility: visible;

    .nav-bar__links {
      display: flex;
      flex-direction: column;
      overflow: visible;
      cursor: auto;

      .link.dropdown {
        display: block;

        .dropdown-link {
          display: inline-block;
          padding-left: 8px;
          margin-bottom: 24px;
          color: #3C37FF;
          font-size: 12px;
        }

        .dropdown-wrapper {
          visibility: visible;
        }
      }
    }
  }
  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.94);
    z-index: 12;
    border: none;
    backdrop-filter: blur(4px);
    padding: 14px 20px;
    top: 0;
    border-radius: 0;

    &__btn-wrapper {
      display: flex;
      align-items: center;

      .closeMobileMenuBtn {
        display: none;
      }
    }

    &__open-mobile-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      background: #DDDDDD;
      border-radius: 6px;
    }

    &__links {
      display: none;
    }
  }

  .mt-hero {
    padding: 56px 0 0;
  }

  .mt-title {
    font-size: 26px;
    letter-spacing: -0.01em;

    br {
      display: none;
    }
  }

  .mt-subtitle {
    margin-top: 24px;
    font-size: 14px;

    br {
      display: none;
    }
  }

  .mt-badge {
    font-size: 10px;
  }

  .mt-button {
    padding: 12px 17px;
  }

  .mt-container {
    margin: 0 20px;
  }

  #mtHeroTitle {
    margin-top: -20px;
  }

  .mt-one-stop {
    padding-top: 52px;

    &__cards {
      flex-direction: column;
      gap: 24px;
      align-items: center;
      justify-content: center;
      margin-bottom: 64px;
    }

    &__shops {
      margin-top: 64px;
    }

    &__reasons {
      margin-top: 64px;
    }

    &__reasons-title {
      font-size: 18px;
    }

    &__reasons-img {
      &_desk {
        display: none;
      }

      &_mob {
        display: block;
      }
    }

    &__card {
      gap: 35px;
      padding: 24px;
    }

    &__card-title {
      font-size: 18px;
    }

    &__card-text {
      font-size: 14px;
    }

    &__card-badge {
      font-size: 22px;
    }

    &__card-inner_first {
      flex-direction: column;
      gap: 33px;

      img {
        width: 80px;
        height: 40px;
      }
    }

    &__card-inner {
      gap: 20px;
    }
  }

  .mt-features {
    padding: 52px 0 44px;

    &__inner {
      flex-direction: column-reverse;
      gap: 45px;
      margin-top: 46px;
    }

    &__head {
      font-size: 14px;
    }

    &__item {
      font-size: 14px;
    }
  }

  .mt-payments {
    padding: 73px 0 0;
  }

  .mt-main-cases {
    padding: 52px 0 26px;

    &__container {
      padding-left: 20px;
    }

    &__cards {
      gap: 20px;
    }

    &__card {
      max-width: 455px;
      width: 100%;
      padding: 32px;
      background-position: left top;
      background-size: cover;
    }
  }

  .mt-earn {
    padding: 52px 0 44px;

    .mt-container {
      margin: 0;
    }

    &__content {
      display: flex;
      gap: 20px;
      justify-content: center;
      padding-right: 20px;
      padding-left: 20px;
      background: #3C37FF;
      border-radius: 10px;
    }

    &__head-title_alt {
      margin-top: 50px;
    }

    &__head-list {
      gap: 30px;
      margin-top: 32px;
    }
  }

  .mt-trusted {
    &__title {
      margin-top: 24px;
      margin-bottom: 24px;
      font-size: 10px;
    }

    &__logos {
      gap: 10px 33px;
    }

    &__logo {
      img {
        width: auto;
        height: 10px;
        object-fit: contain;
      }
    }
  }

  .mt-about {
    padding-top: 52px;

    .mt-subtitle {
      text-align: left;
    }
  }

  .mt-review {
    &__text {
      font-size: 18px;
    }
  }

  .mt-cta-block {
    justify-content: flex-start;
    width: calc(100% - 40px);
    height: 474px;
    margin: 0 20px 56px !important;
    padding: 24px;
    background-image: url('https://monite.com/wp-content/uploads/2023/03/cta-scaled_alt_mob.png');
    background-position: bottom;
    background-size: cover;

    &_alt {
      background-image: url('https://monite.com/wp-content/uploads/2023/03/cta-scaled_mob.png');
    }

    .mt-title {
      margin: 0 auto 24px;
    }

    .mt-subtitle {
      margin: 0 auto 24px;
    }

    &__button {
      margin: 0;
    }
  }

  .mt-footer {
    padding: 44px 20px 32px;

    .mt-footer-logo {
      display: flex;
      gap: 30px;
    }

    &__nav {
      gap: 24px;
      justify-content: space-around;
    }

    &__nav-menu {
      gap: 10px;
    }

    &__nav-menu-head {
      font-size: 14px;
    }

    &__nav-menu-link {
      font-size: 14px;
    }

    &__social {
      margin-top: 44px;
    }

    &__copy {
      flex-direction: column;
      gap: 12px;
      align-items: flex-start;
      justify-content: flex-start;
      padding-top: 44px;
      font-size: 14px;
    }

    &__nav-menu_bottom {
      gap: 8px;
    }

    &__copy-inner {
      flex-direction: column;
      gap: 12px;
      font-size: 14px;
    }

    .mt-footer-companies {
      gap: 24px;
    }
  }

  .mt-development {
    padding: 10px 0 44px;

    &__inner {
      flex-direction: column-reverse;
      gap: 24px;
      align-items: center;

      .mobile-wrapper {
        position: relative;
        top: -44px;
        z-index: 1;
      }

      .mt-title.mt-title_white {
        margin-bottom: 24px;
      }

      .mt-development__images {
        position: relative;
        top: 40px;
        right: 0;
        margin: 0 32px;

        &:after {
          content: "";
          position: absolute;
          right: 0;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 350px;
          background: linear-gradient(to top, #0a0a0a, transparent);
        }
      }
    }

    &__cards {
      flex-direction: column;
      align-items: center;
      margin-top: 0;
    }

    &__card {
      &::after {
        top: unset;
        transform: unset;
        right: 45%;
        bottom: -28px;
      }
    }

    &__buttons {
      margin-top: 24px;
    }
  }
}

@media screen and (max-width: 768px) {
  .body_lock {
    overflow: hidden;
  }

  .mt-header {
    position: fixed;
    max-width: 100%;
    margin: 0 auto;

    &__container {
      align-items: center;
      justify-content: right;
      height: 52px;
      border: none;
      border-radius: unset;
    }

    &__navbar {
      top: 0;
      right: 0;
      left: 0;
      display: none;

      &_active {
        position: absolute;
        z-index: 10;
        display: flex;
        height: 100vh;
        background-color: #fff;
        transform: translateX(-150%);
        transition: all 0.7s ease;
        animation: ani 0.6s forwards;

        @keyframes ani {
          0% {
            transform: translateX(-150%);
          }

          100% {
            transform: translateY(0);
          }
        }
      }
    }

    &__list {
      flex-direction: column;
      margin: 68px 0 auto 20px;
    }

    &__item {
      font-weight: 600;
      font-size: 26px;
    }

    &__btn {
      display: flex;
      align-items: center;
      width: 65px;
      height: 24px;
      margin-right: 6px;
      padding: 4px 8px;
      font-size: 10px;
      line-height: 140%;
      letter-spacing: 0.01em;
      text-align: center;
      border-radius: 6px;
    }

    .mt-button_menu {
      position: relative;
      z-index: 10;
      display: unset;
      width: 24px;
      height: 24px;
      margin-right: 20px;
      background-color: #DDD;
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.666606 4.90675L6.66661 8.37342C6.76795 8.43193 6.88291 8.46273 6.99994 8.46273C7.11696 8.46273 7.23193 8.43193 7.33327 8.37342L13.3333 4.90675C13.434 4.84858 13.5178 4.76506 13.5763 4.66447C13.6348 4.56389 13.6659 4.44976 13.6666 4.33342C13.6671 4.21594 13.6365 4.10043 13.578 3.99858C13.5194 3.89673 13.435 3.81215 13.3333 3.75342L7.33327 0.293418C7.23193 0.234906 7.11696 0.204102 6.99994 0.204102C6.88291 0.204102 6.76795 0.234906 6.66661 0.293418L0.666606 3.75342C0.564869 3.81215 0.48046 3.89673 0.421924 3.99858C0.363389 4.10043 0.332806 4.21594 0.333272 4.33342C0.333975 4.44976 0.365112 4.56389 0.423589 4.66447C0.482066 4.76506 0.565847 4.84858 0.666606 4.90675ZM6.99994 1.66675L11.6666 4.33342L6.99994 7.00008L2.33327 4.33342L6.99994 1.66675ZM12.6666 6.44675L6.99994 9.66675L1.33327 6.42008C1.25718 6.37601 1.17313 6.34741 1.08594 6.33596C0.998754 6.3245 0.910163 6.33041 0.82527 6.35334C0.740376 6.37626 0.660858 6.41576 0.591293 6.46955C0.521728 6.52334 0.463492 6.59036 0.419939 6.66675C0.333024 6.81983 0.31018 7.00107 0.356391 7.17093C0.402602 7.34079 0.514118 7.48547 0.666606 7.57342L6.66661 11.0401C6.76795 11.0986 6.88291 11.1294 6.99994 11.1294C7.11696 11.1294 7.23193 11.0986 7.33327 11.0401L13.3333 7.57342C13.4858 7.48547 13.5973 7.34079 13.6435 7.17093C13.6897 7.00107 13.6669 6.81983 13.5799 6.66675C13.5364 6.59036 13.4781 6.52334 13.4086 6.46955C13.339 6.41576 13.2595 6.37626 13.1746 6.35334C13.0897 6.33041 13.0011 6.3245 12.9139 6.33596C12.8268 6.34741 12.7427 6.37601 12.6666 6.42008V6.44675ZM12.6666 9.11342L6.99994 12.3334L1.33327 9.08675C1.25718 9.04267 1.17313 9.01408 1.08594 9.00263C0.998754 8.99117 0.910163 8.99708 0.82527 9.02C0.740376 9.04293 0.660858 9.08243 0.591293 9.13622C0.521728 9.19001 0.463492 9.25703 0.419939 9.33342C0.333024 9.4865 0.31018 9.66774 0.356391 9.83759C0.402602 10.0075 0.514118 10.1521 0.666606 10.2401L6.66661 13.7068C6.76795 13.7653 6.88291 13.7961 6.99994 13.7961C7.11696 13.7961 7.23193 13.7653 7.33327 13.7068L13.3333 10.2401C13.4858 10.1521 13.5973 10.0075 13.6435 9.83759C13.6897 9.66774 13.6669 9.4865 13.5799 9.33342C13.5364 9.25703 13.4781 9.19001 13.4086 9.13622C13.339 9.08243 13.2595 9.04293 13.1746 9.02C13.0897 8.99708 13.0011 8.99117 12.9139 9.00263C12.8268 9.01408 12.7427 9.04267 12.6666 9.08675V9.11342Z' fill='%233B3B3B'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 6px;
      transition: all .4s ease-in-out;

      &_active {
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.94004 6.00012L11.14 1.80679C11.2656 1.68125 11.3361 1.51099 11.3361 1.33346C11.3361 1.15592 11.2656 0.985659 11.14 0.860124C11.0145 0.734588 10.8442 0.664062 10.6667 0.664062C10.4892 0.664062 10.3189 0.734588 10.1934 0.860124L6.00004 5.06012L1.80671 0.860124C1.68117 0.734588 1.51091 0.664063 1.33337 0.664063C1.15584 0.664063 0.985576 0.734588 0.860041 0.860124C0.734505 0.985659 0.66398 1.15592 0.66398 1.33346C0.66398 1.51099 0.734505 1.68125 0.860041 1.80679L5.06004 6.00012L0.860041 10.1935C0.797555 10.2554 0.747959 10.3292 0.714113 10.4104C0.680267 10.4916 0.662842 10.5788 0.662842 10.6668C0.662842 10.7548 0.680267 10.8419 0.714113 10.9232C0.747959 11.0044 0.797555 11.0781 0.860041 11.1401C0.922016 11.2026 0.99575 11.2522 1.07699 11.2861C1.15823 11.3199 1.24537 11.3373 1.33337 11.3373C1.42138 11.3373 1.50852 11.3199 1.58976 11.2861C1.671 11.2522 1.74473 11.2026 1.80671 11.1401L6.00004 6.94012L10.1934 11.1401C10.2554 11.2026 10.3291 11.2522 10.4103 11.2861C10.4916 11.3199 10.5787 11.3373 10.6667 11.3373C10.7547 11.3373 10.8419 11.3199 10.9231 11.2861C11.0043 11.2522 11.0781 11.2026 11.14 11.1401C11.2025 11.0781 11.2521 11.0044 11.286 10.9232C11.3198 10.8419 11.3372 10.7548 11.3372 10.6668C11.3372 10.5788 11.3198 10.4916 11.286 10.4104C11.2521 10.3292 11.2025 10.2554 11.14 10.1935L6.94004 6.00012Z' fill='black'/%3E%3C/svg%3E");
        transition: all .4s ease-in-out;
      }
    }

    &__logo {
      position: absolute;
      left: 0;
      z-index: 11;
      padding-left: 20px;

      svg {
        width: 59px;
        height: 11px;
      }
    }

    &__footer {
      position: absolute;
      bottom: 32px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0 20px;
    }

    &__mail {
      margin: auto 0;

      a {
        font-size: 14px;
      }
    }

    &__social {
      margin: auto 0;
    }
  }

  .mt-hero {
    margin-top: 148px;
    margin-left: 0;
    padding: 0;

    &__inner {
      margin: 0 auto;
    }

    &__content {
      gap: 24px;
      margin: 0 20px;
    }

    &__partners {
      gap: 7px;
    }

    &__partner {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 25px;
      border: 1px solid #F4F4F4;
      border-radius: 4px;
    }

    &__image_desktop {
      display: none;
    }

    &__image_mobile {
      display: flex;
    }
  }

  .mt-earn {

    .mt-title {
      text-align: left;
      margin: 0 20px 24px;
    }

    .mt-subtitle {
      text-align: left;
      margin: 0 20px;
    }

    .mobile-container {
      display: flex;
      justify-content: center;
    }

    &__cards-inner {
      margin: 0 20px;
    }

    &__cards-head {
      font-size: 18px;
      text-align: left;
    }

    &__cards {
      justify-content: space-between;
      margin-top: 24px;
      gap: 10px;
    }

    &__card {
      flex-direction: column;
      gap: 14px;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 12px;
      max-width: 135px;

      svg {
        width: 24px;
        height: 24px;
      }
    }

    &__card-title {
      font-size: 14px;
    }

    &__inner {
      display: flex;
      flex-direction: column;
      gap: 32px;
      height: auto;
      text-align: left;
    }

    &__images {
      display: none;
    }

    &__head {
      height: 500px;
      padding: 24px;
      background: #3C37FF;
    }

    &__head-inner {
      display: flex;
    }

    &__head-sticky {
      transform: translate(var(--translateEarn), 0);
      height: 590px;
      width: 9999px;
      transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
      display: flex;
      justify-content: start;
      gap: 40px;
      margin-bottom: 32px;
      padding: 0;

      .mt-earn__head-inner {
        width: 280px;
        height: 590px;

        .mt-earn__head-title {
          display: initial;
          margin-bottom: 24px;
          font-size: 18px;
        }

        .mobile-image-wrapper {
          display: flex;
          margin-bottom: 44px;
          position: relative;

          :after {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            //position: relative;
            //left: 0;
            background: #3C37FF;
          }

          .divider {
            background: linear-gradient(90deg, #3D38FF, #FE66BA, #3D38FF);
            width: 156px;
            height: 1px;
            position: absolute;
            right: -144px;
            top: 50%;
          }
        }

        .divider.with-after {
          &:after {
            content: "";
            position: relative;
            left: -2px;
            top: -3px;
            display: block;
            height: 8px;
            width: 8px;
            background: #3C37FF;
          }
        }

        .mt-earn__head-list {
          margin: 0;
        }
      }
    }

    &__head-item {
      font-size: 14px;
    }

    &__content {
      width: 320px;
      height: 590px;
      justify-content: start;
      overflow: hidden;
      margin-top: 32px;
      margin-bottom: 32px;
      padding-top: 32px;
      border-radius: 0;
    }
  }

  .mt-features {

    &__inner {
      margin-top: 46px;
    }

    .mt-title_left {
      margin-bottom: 32px;
    }

    &__caption {
      margin-bottom: 20px;
      font-size: 14px;
    }

    &__head {
      gap: 24px;
      margin-bottom: 32px;
      font-size: 14px;
    }

    &__list {
      gap: 12px;
      margin-top: 17px;
      margin-bottom: 32px;
    }

    &__item {
      font-size: 14px;
      align-items: center;
    }
  }

  .mt-payments {
    background: #F1F2F5;

    .mt-badge {
      margin: 0 20px;
    }

    .mt-title {
      margin: 12px 20px 24px;
    }

    .mt-subtitle {
      margin: 0 20px;
    }

    .mt-container {
      margin: 0 auto;
    }

    .desktop-wrapper {
      display: none;
    }

    .mobile-wrapper {
      display: flex;
      justify-content: center;

      #mtPaymentsFirstBlockMobile {
        display: block;
      }

      #mtPaymentsSecondBlockMobile {
        display: none;
      }
    }

    &__filter {
      max-width: 280px;
      padding: 6px;
      margin: 0 auto 24px;
      background: rgba(0, 0, 0, 0.02);
    }

    &__filter-toggle {
      left: 7px;
      width: 133px;
    }

    &__filter-item {
      gap: 9px;
      padding: 18px 12px 18px 0;
      font-size: 14px;

      svg {
        width: 15px;
        height: 15px;
      }
    }
  }

  .mt-main-cases {
    padding: 52px 0;
    overflow: hidden;
    text-align: center;

    .mt-scroll-buttons {
      display: none;
    }

    &__cards {
      display: flex;
      gap: unset;
      margin-top: 44px;
    }

    &__card {
      gap: unset;
      max-width: 280px;
      width: 100%;
      height: 455px;
      background-position: left -11px top;
      background-size: cover;
      justify-content: flex-end;
      padding: 0 24px 32px;
    }

    &__card-title {
      max-width: 260px;
      font-size: 18px;
      margin-bottom: 26px;
    }

    &__card-text {
      max-width: 300px;
      margin-bottom: 24px;
      font-size: 14px;
    }

    &__card-review {
      gap: 12px;
      font-size: 14px;
      max-width: 200px;

      img {
        width: 30px;
        height: 30px;
      }
    }

    .glide__bullets {
      display: flex;
    }

    .glide__bullets {
      bottom: 1.5rem;
      display: flex;
      list-style: none;
      align-items: center;
      margin-top: 22px;
      justify-content: left;
    }

    .glide__bullet {
      background: #DDDDDD;
      width: 9px;
      height: 9px;
      padding: 0;
      border-radius: 50%;
      transition: all .3s ease-in-out;
      cursor: pointer;
      line-height: 0;
      margin: 0 0.25em;

      &--active {
        background: #707070;

      }
    }
  }

  .how-mach-revenue.bill-pay.main {
    .how-mach-revenue__revenue {
      height: 499px;

      .payments-mt-one-api__revenue-mob {
        margin-bottom: 20px;
      }
    }
  }

  .mt-one-stop {

    .mt-title {
      font-size: 22px;
      margin-bottom: 24px;
      max-width: 400px;
      text-align: left;
    }

    .mt-subtitle {
      margin-top: 24px;
    }

    &__card-text_alt {
      font-size: 10px;
    }

    &__card-inner {
      display: flex;

      .mt-one-stop__card-badge_alt {
        margin-bottom: 16px;
      }

      li {
        flex: 1;
      }
    }
  }

  .mt-development {
    .mt-title {
      margin-right: 50px;
    }

    &__card {
      gap: 9px;
      padding: 44px;

      &::after {
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }

    &__card-title {
      font-size: 18px;
    }

    &__card-subtitle {
      font-size: 14px;
    }
  }

  .mt-about {
    padding-top: 0;
    padding-bottom: 60px;

    .mt-scroll-buttons {
      display: none;
    }

    .mt-container_scroll {
      margin-bottom: 44px;
    }

    .mt-subtitle {
      text-align: center;
      margin-top: 52px;
    }

    .mt-title {
      text-align: center;
    }

    &__cards {
      gap: unset;
    }

    &__card {
      gap: unset;
      padding: 32px 24px 44px;
      max-width: 280px;
      height: 293px;
    }

    &__card-text {
      max-width: 241px;
      font-size: 14px;
      margin-bottom: 12px;
    }

    &__date {
      font-size: 10px;
    }

    &__link {
      width: 98px;
      height: 20px;
    }

    &__btn {
      font-size: 14px;
      height: 20px;
    }

    &__btnMobile {
      display: flex;
      font-size: 10px;
    }

    .mt-review {
      margin-top: 60px;

      &__author {
        br {
          display: flex;
        }
      }
    }

    .glide__bullets {
      bottom: 1.5rem;
      display: flex;
      list-style: none;
      align-items: center;
      margin-top: 22px;
    }

    .glide__bullet {
      background: #DDDDDD;
      width: 9px;
      height: 9px;
      padding: 0;
      border-radius: 50%;
      transition: all .3s ease-in-out;
      cursor: pointer;
      line-height: 0;
      margin: 0 0.25em;

      &--active {
        background: #707070;

      }
    }
  }

  .mt-footer {
    padding: 44px 0 32px;

    .mt-footer-logo {
      margin-bottom: 44px;
    }

    .mt-footer-logo-nav-wrapper {
      flex-direction: column;
    }

    .mt-footer-wrapper {
      flex-direction: column;
    }
  }
}
