body {
  font-family: "Faktum", sans-serif;
}

section:not(:last-child) {
  margin-bottom: 0;
}


.mt-header {
  position: fixed;
  max-width: 1432px;
  width: 100%;
  z-index: 10;
  margin: 4px auto;
  right: 0;
  left: 0;

  &__container {
    display: flex;
    width: 100%;
    background-color: #fff;
    height: 60px;
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
  }

  &__navbar {
    margin-right: auto;
    align-items: center;
  }

  &__btn {
    margin-right: 12px;
  }

  .mt-button_menu {
    display: none;
  }

  &__logo {
    padding-left: 20px;
  }

  &__list {
    display: flex;
    list-style-type: none;
    gap: 24px;
    margin-left: 39px;
  }

  &__item {
    float: left;

    &:hover {
      color: #3C37FF;
      cursor: pointer;
    }

    &:hover > ul {
      display: block;
    }
  }

  &__sublist {
    display: none;
    position: absolute;
    list-style: none;
    margin-left: -5px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #707070;
    padding-right: 40px;
  }

  &__subitem {
    display: block;
    text-decoration: none;
    padding: 10px 90px 10px 2px;
    border: 1px solid #111;
    border-radius: 10px;
    margin: 4px 2px;
    background-color: #fff;

    a {
      font-size: 18px;
      color: #0A0A0A;

      &:hover {
        color: #3C37FF;
      }
    }
  }
}

.mt-hero {
  padding: 47px 0 24px 0;
  position: relative;
  overflow: hidden;

  .mt-subtitle {
    opacity: 1;
    margin-top: 0;
    color: #000;
  }

  .mt-trusted__title {
    margin: 94px 0 0;
  }

  &__title {
    background-color: #fff;
    z-index: 1;

    span {
      color: #3C37FF;
    }
  }

  &__inner {
    display: flex;
    margin: 0 auto;
    max-width: 1348px;
    position: relative;
  }

  &__content {
    margin-top: 153px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 518px;
    gap: 32px;
  }

  &__images {
    position: absolute;
    right: -67px;
    height: 505px;
    width: 814px;
  }

  &__partners {
    display: flex;
    gap: 13px;
    list-style-type: none;
  }

  &__partner {
    padding: 0 15px;
    border: 1px solid #F4F4F4;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
  }
}

#mtHeroTitle {
  display: block;
  margin-top: -55px;
  animation: bobbingAnim ease-in-out 2s infinite;
}

@keyframes bobbingAnim {
  0% {
    transform: translateY(0%);
  }
  5% {
    transform: translateY(-5px);
  }
  10% {
    transform: translateY(-10px);
  }
  15% {
    transform: translateY(-15px);
  }
  20% {
    transform: translateY(-20px);
  }
  25% {
    transform: translateY(-25px);
  }
  30% {
    transform: translateY(-30px);
  }
  35% {
    transform: translateY(-35px);
  }
  48% {
    opacity: 0;
  }
  56% {
    opacity: 0;
  }
  60% {
    opacity: 0;
    transform: translateY(60%);
  }
  80% {
    opacity: 1;
  }
  85% {
    transform: translateY(40%);
  }
  100% {
    opacity: 1;
    transform: translateY(20%);
  }
}

.mt-earn {
  padding: 120px 0 116px 0;
  text-align: center;

  &__inner {
    bottom: 0;
    top: 20px;
    position: sticky;
    margin-top: 90px;
    border-radius: 10px;
    height: 2100px;
    background-color: #3C37FF;
  }

  &__head {
    position: sticky;
    height: 700px;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 10px;
    padding: 168px 115px;
    display: flex;
    justify-content: flex-end;

    &_first {
      background-image: url('https://monite.com/wp-content/uploads/2023/03/earn_bg_first.png');
    }

    &_second {
      background-image: url('https://monite.com/wp-content/uploads/2023/03/earn_bg_second.png');

    }

    &_third {
      background-image: url('https://monite.com/wp-content/uploads/2023/03/earn_bg_third.png');
    }
  }

  &__head-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 413px;
  }

  &__head-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 110%;
    color: #FFFFFF;
    letter-spacing: -0.01em;

    &_alt {
      margin-top: 57px;
    }
  }

  &__head-inner {
    display: flex;
    flex-direction: column;
  }

  &__head-list {
    margin-top: 32px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__head-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    opacity: 0.8;
    text-align: left;
  }

  &__cards {
    padding: 0;
    margin-top: 32px;
    display: flex;
    gap: 7px;
    list-style-type: none;
  }

  &__cards-inner {
    position: sticky;
    z-index: 2;
    margin-top: 90px;
  }

  &__card {
    background: #F1F2F5;
    border-radius: 10px;
    padding: 35px 0;
    width: 100%;
    max-width: 274px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  &__card-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: -0.01em;
    color: #111111;
    margin: 0;
  }

  &__cards-head {
    font-weight: 600;
    font-size: 28px;
    line-height: 110%;
    color: #111;
  }
}

.mt-badge {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 110%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #707070;
}

.mt-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 110%;
  color: #111;
  letter-spacing: -0.02em;
  align-items: center;

  &_white {
    color: #fff;
  }

  &_left {
    text-align: left;
  }
}

.mt-subtitle {
  margin-top: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #111;
  opacity: 0.6;

  &_white {
    color: #fff;
  }
}

.mt-container {
  margin: 0 auto;
  max-width: 1120px;
}

.mt-features {
  padding: 120px 0 105px;
  background-color: #F1F2F5;
  text-align: center;

  &__content {
    text-align: left;
  }

  &__inner {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__caption {
    margin-top: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #0A0A0A;
    text-align: left;
    opacity: 0.6;
  }

  &__head {
    margin-top: 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #0A0A0A;
    max-width: 424px;
    text-align: left;
    display: flex;
    gap: 24px;
    align-items: center;

    &::before {
      display: block;
      content: '';
      min-width: 4px;
      width: 4px;
      height: 108px;
      border-radius: 10px;
      background: linear-gradient(180deg, #3D38FF 0%, #FE66BA 100%);
    }

    &_small {
      &:before {
        height: 68px;
      }
    }
  }

  &__list {
    margin-bottom: 32px;
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 16px;
    padding: 0;
  }

  &__item {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #3B3B3B;
    text-align: left;
    display: flex;
    gap: 16px;

    &::before {
      display: block;
      width: 24px;
      height: 24px;
      content: '';
      background-image: url("https://monite.com/wp-content/uploads/2023/03/mt-features__icon.svg");
    }
  }

  &__image {
  }
}

.mt-trusted {
  display: flex;
  background: #F3F3F3;

  &__title {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #111111;
    margin-top: 32px;
    margin-bottom: 35px;
  }

  &__logos {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 86px;
    margin-bottom: 32px;
  }
}

.mt-development {
  padding: 108px 0 120px;
  background-color: #111111;

  &__subtitle {
    max-width: 446px;
  }

  &__buttons {
    margin-top: 44px;
    display: flex;
    gap: 24px;
  }

  &__inner {
    display: flex;
    gap: 120px;
  }

  &__images {
    background: #302F4D;
    border-radius: 10px;
    width: 319px;
    height: 411px;
  }

  &__cards {
    margin-top: 72px;
    display: flex;
    gap: 8px;
  }

  &__card {
    background: #3B3B3B;
    border-radius: 10px;
    padding: 44px;
    max-width: 368px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 17px;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      background-image: url("https://monite.com/wp-content/uploads/2023/03/mt-development__icon.svg");
      width: 46px;
      height: 46px;
      top: 61px;
      right: -27px;
      z-index: 1;
    }

    &:last-child {

      &::after {
        content: unset;
      }
    }
  }

  &__card-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
  }

  &__card-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    opacity: 0.8;
  }
}

.mt-payments {
  padding: 120px 0;
  text-align: center;

  &__inner {
    margin-top: 52px;
  }

  &__filter {
    margin: 0 auto 32px auto;
    background: #F3F3F3;
    border-radius: 310px;
    display: flex;
    max-width: 343px;
    padding: 6px;
    gap: 39px;
    list-style-type: none;
    position: relative;
  }

  &__filter-toogl {
    position: absolute;
    left: 8px;
    display: block;
    width: calc(50% - 0px);
    height: 48px;
    padding: 0;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    font-family: Inter, sans-serif;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    background-color: #3C37FF;
    border-radius: 40px;
    will-change: transform;
    transition: all .4s;
  }

  &__filter-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    padding: 16px 38px 16px 0px;
    letter-spacing: -0.01em;
    cursor: pointer;
    display: flex;
    gap: 11px;
    z-index: 2;

    &_first {
      padding-left: 19px;
      padding-right: 19px;
    }

    svg path {
      fill: #111;
    }

    &_active {
      color: #fff;

      svg path {
        fill: white;
      }
    }
  }
}

.mt-one-stop {
  padding: 120px 0 0 0;
  display: block;

  &__cards {
    margin-top: 44px;
    margin-bottom: 120px;
    display: flex;
    gap: 8px;

    &_alt {
      margin-bottom: 0;
    }
  }

  &__card {
    background: #F1F2F5;
    border-radius: 10px;
    padding: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 368px;
    width: 100%;
    gap: 55px;

    &_alt {
      max-width: 554px;
      justify-content: space-between;
      text-align: left;
      gap: 61px;
    }
  }

  &__card-badge {
    font-weight: 600;
    font-size: 38px;
    line-height: 110%;
    letter-spacing: -0.01em;
    color: #111111;

    &_alt {
      color: #3C37FF;
    }
  }

  &__card-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 110%;
    color: #3C37FF;
  }

  &__card-text {
    margin-top: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #111111;
    opacity: 0.9;

    &_alt {
      margin-top: 18px;
      font-size: 12px;
      opacity: 1;
      max-width: 188px;
    }

    &_third {
      opacity: 0.6;
      max-width: 256px;
    }
  }

  &__reasons {
    text-align: center;
    margin-top: 145px;
  }

  &__reasons-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 110%;
    text-align: center;
    color: #111111;
  }

  &__reasons-img {
    margin-top: 44px;

    &_mob {
      display: none;
    }
  }

  &__shops {
    margin-top: 120px;

    & > ul {
      justify-content: center;
    }
  }

  &__card-inner {
    display: flex;
    justify-content: space-between;
  }
}

.mt-about {
  padding: 120px 0 61px;
  display: block;

  &__btn {
    display: flex;
    gap: 8px;
  }

  .mt-title {
    margin-top: 12px;
  }

  .mt-subtitle {
    margin: 0;
  }

  &__cards {
    margin-top: 34px;
    margin-bottom: 72px;
    display: flex;
    gap: 36px;
  }

  &__card {
    background: #F1F2F5;
    border-radius: 10px;
    padding: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 368px;
    width: 100%;
    gap: 55px;
  }

  &__card-text {
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: -0.01em;
  }

  &__link {
    position: relative;
    height: 22px;
    color: #0A0A0A;

    &:hover {
      color: #3C37FF;
    }

    &__btn {
      padding-left: 44px;
      width: 82px;
      height: 22px;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0.01em;
    }
  }

  &__images > img {
    margin: 0 8px;
  }
}

.mt-cta-block {
  text-align: center;
  width: 100%;
  max-width: 1284px;
  padding: 59px 0;
  display: flex;
  margin: 120px auto !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("https://monite.com/wp-content/uploads/2023/03/CTA-scaled.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;

  &_alt {
    padding: 77px 82px;
    background-image: url("https://monite.com/wp-content/uploads/2023/03/CTA.png");
    background-size: contain;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;

    .mt-title {
      color: #fff;
    }

    .mt-subtitle {
      color: #fff;
    }
  }

  &__button {
    margin-top: 58px;
  }
}

.mt-button {
  background: linear-gradient(180deg, #3C37FF 0%, #3C37FF 100%);
  border-radius: 10px;
  cursor: pointer;
  padding: 15px 30px;
  color: #fff;
  display: flex;
  width: fit-content;

  &:hover {
    transition: all .4s;
    background: linear-gradient(180deg, #3C37FF 0%, #FE66BA 100%);
  }

  &_black {
    border: 1px solid #FFFFFF;
    background: transparent;

    &:hover {
      background: #fff;
      color: #000;
    }
  }
}

.mt-review {
  display: flex;
  flex-direction: column;
  gap: 28px;
  max-width: 927px;
  margin: 0 auto;
  align-items: center;

  &_small {
    max-width: 743px;
  }

  &__text {
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    color: #111;
    text-align: center;
    letter-spacing: 0.01em;
  }

  &__author {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #111111;
  }
}

.mt-footer {
  padding: 70px 0 56px;
  background-color: #F1F2F5;

  &__inner {
    max-width: 1120px;
    margin: 0 auto;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__nav-menu {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }

  &__nav-menu-head {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #111111;
    opacity: 0.5;
  }

  &__nav-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #111111;

    a {
      color: #111111;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__social {
    margin-top: 64px;
  }

  &__copy {
    margin-top: 44px;
    padding-top: 52px;
    border-top: 1px solid #B8B8B8;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copy-inner {
    display: flex;
    gap: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #111111;
    opacity: 0.5;
  }

  &__copy-mail a {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #111111;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  &__social {
    display: flex;
    justify-content: space-between;
  }

  &__socials {
    display: flex;
    gap: 13px;
  }
}

.mt-main-cases {
  padding: 120px 0;
  text-align: center;
  overflow: hidden;

  &__cards {
    margin-top: 44px;
    display: flex;
    gap: 36px;
  }

  &__container {
    padding-left: 10%;
    width: 100%;
    margin: 0 auto;
    overflow: scroll;
  }

  &__card {
    padding: 44px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border-radius: 10px;
    min-width: 542px;
    width: 100%;
    height: 580px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 24px;

    &:nth-child(1) {
      background-image: url("https://monite.com/wp-content/uploads/2023/03/mt-cases-bg-1.png");
    }

    &:nth-child(2) {
      background-image: url("https://monite.com/wp-content/uploads/2023/03/mt-cases-bg-2.png");
    }

    &:nth-child(3) {
      background-image: url("https://monite.com/wp-content/uploads/2023/03/mt-cases-bg-3.png");
    }

    &:nth-child(4) {
      background-image: url("https://monite.com/wp-content/uploads/2023/03/mt-cases-bg-4.png");
    }
  }

  &__card-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 110%;
    color: #000;
  }

  &__card-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #0A0A0A;
    opacity: 0.6;
  }

  &__card-review {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}

@media screen and (max-width: 1310px) {
  .mt-hero {

    &__images {
      right: -167px;
    }
  }
}

@media screen and (max-width: 1144px) {
  .mt-hero {
    margin-top: 60px;
    padding-top: 16px;
    padding-bottom: 0;

    .mt-trusted__title {
      margin-top: 0;
    }

    &__inner {
      margin: 0 20px;
      flex-direction: column;
      align-items: center;
    }

    &__images {
      margin-top: 12px;
      width: 100%;
      position: relative;
      left: 0;
      right: 0;
      height: auto;
    }

    &__content {
      margin-top: 0;
    }

    &__partner {
      padding: 8px;
    }
  }

  .mt-earn {
    &__cards {
      flex-wrap: wrap;
    }
  }

  .mt-development {
    &__cards {
      margin-top: 34px;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
    }

    &__card {

      &:after {
        right: 45%;
        bottom: -28px;
        top: unset;
      }
    }
  }

}

@media screen and (max-width: 991px) {
  .mt-hero {
    padding: 56px 0 0;
  }
  .mt-title {
    font-size: 26px;
    letter-spacing: -0.01em;

    br {
      display: none;
    }
  }

  .mt-subtitle {
    margin-top: 24px;
    font-size: 14px;

    br {
      display: none;
    }
  }

  .mt-badge {
    font-size: 10px;
  }

  .mt-button {
    padding: 12px 17px;
  }

  .mt-container {
    margin: 0 20px;
  }

  #mtHeroTitle {
    margin-top: -30px;
  }

  .mt-one-stop {
    padding-top: 52px;

    &__cards {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;
      margin-bottom: 64px;
    }

    &__shops {
      margin-top: 64px;
    }

    &__reasons {
      margin-top: 64px;
    }

    &__reasons-title {
      font-size: 18px;
    }

    &__reasons-img {
      &_desk {
        display: none;
      }

      &_mob {
        display: block;
      }
    }

    &__card {
      padding: 24px;
      gap: 35px;
    }

    &__card-title {
      font-size: 18px;
    }

    &__card-text {
      font-size: 14px;
    }

    &__card-badge {
      font-size: 22px;
    }

    &__card-inner_first {
      flex-direction: column;
      gap: 33px;

      img {
        width: 80px;
        height: 40px;
      }
    }
  }

  .mt-features {
    padding: 52px 0 44px;

    &__inner {
      margin-top: 46px;
      flex-direction: column-reverse;
      gap: 45px;
    }

    &__head {
      font-size: 14px;
    }

    &__item {
      font-size: 14px;
    }
  }

  .mt-payments {
    padding: 73px 0 0 0;

    &__filter-item {
      font-size: 14px;
      padding: 16px 8px 16px 9px;

      &_first {
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }

  .mt-main-cases {
    padding: 52px 0 26px 0;

    &__container {
      padding-left: 20px;
    }

    &__card {
      padding: 20px;
      min-width: 455px;
      background-size: cover;
      background-position: left;
    }
  }

  .mt-earn {
    padding: 52px 0 44px;

    .mt-title {
      text-align: left;
    }

    .mt-subtitle {
      text-align: left;
    }

    &__cards-inner {
      margin-top: 32px;
    }

    &__cards-head {
      font-size: 18px;
      text-align: left;
    }

    &__cards {
      margin-top: 24px;
      justify-content: space-between;
    }

    &__card {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 12px;
      gap: 14px;
      width: 48%;

      svg {
        width: 24px;
        height: 24px;
      }
    }

    &__card-title {
      font-size: 14px;
    }

    &__inner {
      display: flex;
      flex-direction: column;
      gap: 32px;
      height: auto;
      text-align: left;
    }

    &__head {
      height: 500px;
      padding: 24px;
      background: #3C37FF;
    }
  }

  .mt-trusted {

    &__title {
      font-size: 10px;
      margin-top: 24px;
      margin-bottom: 24px;
    }

    &__logos {
      gap: 10px 33px;
    }

    &__logo {
      img {
        height: 10px;
        width: auto;
        object-fit: contain;
      }
    }
  }

  .mt-about {
    padding-top: 52px;

    .mt-title {
      text-align: center;
    }

    .mt-subtitle {
      text-align: center;
    }

    &__cards {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .mt-review {

    &__text {
      font-size: 18px;
    }
  }

  .mt-cta-block {
    width: calc(100% - 40px);
    height: 474px;
    padding: 24px;
    background-image: url("https://monite.com/wp-content/uploads/2023/03/cta-scaled_alt_mob.png");
    background-size: cover;
    background-position: bottom;
    margin: 0 20px 56px !important;
    justify-content: flex-start;

    &_alt {
      background-image: url("https://monite.com/wp-content/uploads/2023/03/cta-scaled_mob.png");
    }

    &__button {
      margin-top: 24px;
    }
  }

  .mt-footer {
    padding: 44px 20px 32px;

    &__nav {
      flex-wrap: wrap;
      gap: 44px 0;
    }

    &__nav-menu {
      width: 50%;
      gap: 10px;
    }

    &__nav-menu-head {
      font-size: 14px;
    }

    &__nav-menu-link {
      font-size: 14px;
    }

    &__social {
      margin-top: 44px;
    }

    &__copy {
      padding-top: 44px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 12px;
      font-size: 14px;
    }

    &__copy-inner {
      flex-direction: column;
      gap: 12px;
      font-size: 14px;
    }
  }

  .mt-development {
    padding: 40px 0 44px;

    &__inner {
      flex-direction: column;
      gap: 24px;
      align-items: center;
    }

    &__buttons {
      margin-top: 24px;
    }
  }
}

@media screen and (max-width: 768px) {

  .mt-header {
    position: fixed;
    max-width: 100%;
    margin: 0 auto;

    &__container {
      background-color: #FE66BA;
      height: 52px;
      border: none;
      border-radius: unset;
      align-items: center;
      justify-content: right;
    }

    &__navbar {
      display: none;
      top: 0;
      left: 0;
      right: 0;

      &_active {
        display: flex;
        position: absolute;
        height: 100vh;
        background-color: #fff;
        z-index: 10;
      }
    }

    &__list {
      flex-direction: column;
      margin: 68px 0 auto 20px;
    }

    &__item {
      font-weight: 600;
      font-size: 26px;
    }

    &__btn {
      display: flex;
      width: 65px;
      height: 24px;
      padding: 4px 8px;
      border-radius: 6px;
      font-size: 10px;
      line-height: 140%;
      text-align: center;
      letter-spacing: 0.01em;
      margin-right: 6px;
      align-items: center;
    }

    .mt-button_menu {
      display: unset;
      position: relative;
      border-radius: 6px;
      width: 24px;
      height: 24px;
      margin-right: 20px;
      background-color: #DDD;
      z-index: 10;
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.666606 4.90675L6.66661 8.37342C6.76795 8.43193 6.88291 8.46273 6.99994 8.46273C7.11696 8.46273 7.23193 8.43193 7.33327 8.37342L13.3333 4.90675C13.434 4.84858 13.5178 4.76506 13.5763 4.66447C13.6348 4.56389 13.6659 4.44976 13.6666 4.33342C13.6671 4.21594 13.6365 4.10043 13.578 3.99858C13.5194 3.89673 13.435 3.81215 13.3333 3.75342L7.33327 0.293418C7.23193 0.234906 7.11696 0.204102 6.99994 0.204102C6.88291 0.204102 6.76795 0.234906 6.66661 0.293418L0.666606 3.75342C0.564869 3.81215 0.48046 3.89673 0.421924 3.99858C0.363389 4.10043 0.332806 4.21594 0.333272 4.33342C0.333975 4.44976 0.365112 4.56389 0.423589 4.66447C0.482066 4.76506 0.565847 4.84858 0.666606 4.90675ZM6.99994 1.66675L11.6666 4.33342L6.99994 7.00008L2.33327 4.33342L6.99994 1.66675ZM12.6666 6.44675L6.99994 9.66675L1.33327 6.42008C1.25718 6.37601 1.17313 6.34741 1.08594 6.33596C0.998754 6.3245 0.910163 6.33041 0.82527 6.35334C0.740376 6.37626 0.660858 6.41576 0.591293 6.46955C0.521728 6.52334 0.463492 6.59036 0.419939 6.66675C0.333024 6.81983 0.31018 7.00107 0.356391 7.17093C0.402602 7.34079 0.514118 7.48547 0.666606 7.57342L6.66661 11.0401C6.76795 11.0986 6.88291 11.1294 6.99994 11.1294C7.11696 11.1294 7.23193 11.0986 7.33327 11.0401L13.3333 7.57342C13.4858 7.48547 13.5973 7.34079 13.6435 7.17093C13.6897 7.00107 13.6669 6.81983 13.5799 6.66675C13.5364 6.59036 13.4781 6.52334 13.4086 6.46955C13.339 6.41576 13.2595 6.37626 13.1746 6.35334C13.0897 6.33041 13.0011 6.3245 12.9139 6.33596C12.8268 6.34741 12.7427 6.37601 12.6666 6.42008V6.44675ZM12.6666 9.11342L6.99994 12.3334L1.33327 9.08675C1.25718 9.04267 1.17313 9.01408 1.08594 9.00263C0.998754 8.99117 0.910163 8.99708 0.82527 9.02C0.740376 9.04293 0.660858 9.08243 0.591293 9.13622C0.521728 9.19001 0.463492 9.25703 0.419939 9.33342C0.333024 9.4865 0.31018 9.66774 0.356391 9.83759C0.402602 10.0075 0.514118 10.1521 0.666606 10.2401L6.66661 13.7068C6.76795 13.7653 6.88291 13.7961 6.99994 13.7961C7.11696 13.7961 7.23193 13.7653 7.33327 13.7068L13.3333 10.2401C13.4858 10.1521 13.5973 10.0075 13.6435 9.83759C13.6897 9.66774 13.6669 9.4865 13.5799 9.33342C13.5364 9.25703 13.4781 9.19001 13.4086 9.13622C13.339 9.08243 13.2595 9.04293 13.1746 9.02C13.0897 8.99708 13.0011 8.99117 12.9139 9.00263C12.8268 9.01408 12.7427 9.04267 12.6666 9.08675V9.11342Z' fill='%233B3B3B'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;


      &::after {
        content: '';
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.94004 6.00012L11.14 1.80679C11.2656 1.68125 11.3361 1.51099 11.3361 1.33346C11.3361 1.15592 11.2656 0.985659 11.14 0.860124C11.0145 0.734588 10.8442 0.664062 10.6667 0.664062C10.4892 0.664062 10.3189 0.734588 10.1934 0.860124L6.00004 5.06012L1.80671 0.860124C1.68117 0.734588 1.51091 0.664063 1.33337 0.664063C1.15584 0.664063 0.985576 0.734588 0.860041 0.860124C0.734505 0.985659 0.66398 1.15592 0.66398 1.33346C0.66398 1.51099 0.734505 1.68125 0.860041 1.80679L5.06004 6.00012L0.860041 10.1935C0.797555 10.2554 0.747959 10.3292 0.714113 10.4104C0.680267 10.4916 0.662842 10.5788 0.662842 10.6668C0.662842 10.7548 0.680267 10.8419 0.714113 10.9232C0.747959 11.0044 0.797555 11.0781 0.860041 11.1401C0.922016 11.2026 0.99575 11.2522 1.07699 11.2861C1.15823 11.3199 1.24537 11.3373 1.33337 11.3373C1.42138 11.3373 1.50852 11.3199 1.58976 11.2861C1.671 11.2522 1.74473 11.2026 1.80671 11.1401L6.00004 6.94012L10.1934 11.1401C10.2554 11.2026 10.3291 11.2522 10.4103 11.2861C10.4916 11.3199 10.5787 11.3373 10.6667 11.3373C10.7547 11.3373 10.8419 11.3199 10.9231 11.2861C11.0043 11.2522 11.0781 11.2026 11.14 11.1401C11.2025 11.0781 11.2521 11.0044 11.286 10.9232C11.3198 10.8419 11.3372 10.7548 11.3372 10.6668C11.3372 10.5788 11.3198 10.4916 11.286 10.4104C11.2521 10.3292 11.2025 10.2554 11.14 10.1935L6.94004 6.00012Z' fill='black'/%3E%3C/svg%3E");
      }
    }

    &__logo {
      position: absolute;
      left: 0;
      padding-left: 20px;
      z-index: 11;

      svg {
        width: 59px;
        height: 11px;
      }
    }
  }

  .mt-hero {
    margin-top: 68px;
    padding: 0;

    &__inner {
      margin: 0 auto;
    }

    &__content {
      gap: 24px;
      margin: 0 20px;
    }

    &__partners {
      gap: 7px;
    }

    &__partner {
      border: 1px solid #F4F4F4;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 25px;
    }
  }

  .mt-earn {
    margin: 0 auto;

    .mt-title {
      width: 226px;
      margin: 0 20px 24px;
    }

    .mt-subtitle {
      width: 254px;
      margin: 0 20px;
    }

    .mt-container {
      margin: 0 auto;
    }

    &__inner {
      margin: 32px 0;
    }

    &__cards-inner {
      margin: 0 20px;
    }

    &__head-item {
      font-size: 14px;
    }

    &__head-title_alt {
      font-size: 18px;
      font-weight: 600;
    }
  }

  .mt-payments {
    .mt-badge {
      margin: 0 20px;
    }

    .mt-title {
      margin: 12px 20px 24px;
    }

    .mt-subtitle {
      margin: 0 20px;
    }

    .mt-container {
      margin: 0 auto;
    }

    &__filter {
      margin: 0 auto 24px;
    }
  }

  .mt-main-cases {
    padding: 52px 0;
    text-align: center;
    overflow: hidden;

    &__cards {
      margin-top: 44px;
      display: flex;
      gap: 10px;
    }

    &__container {
      width: 100%;
      margin: 0 auto;
      overflow: scroll;
    }

    &__card {
      min-width: 280px;
      height: 455px;
      gap: 10px;
    }

    &__card-title {
      font-size: 18px;
      width: 200px;
    }

    &__card-text {
      font-size: 14px;
      width: 240px;
    }

    &__card-review {
      display: flex;
      align-items: center;
      gap: 12px;
      font-size: 14px;

      img {
        width: 31px;
        height: 31px;
      }
    }
  }

  .mt-one-stop {
    .mt-title {
      font-size: 22px;
    }

    &__card-text_alt {
      font-size: 10px;
    }
  }

  .mt-development {

    &__card {
      padding: 44px;
      gap: 9px;
    }

    &__card-title {
      font-size: 18px;
    }

    &__card-subtitle {
      font-size: 14px;
    }
  }

  .mt-about {

    &__card {
      padding: 24px;
      gap: 24px;
      font-size: 14px;
    }

    &__card-text {
      width: 241px;
      font-size: 14px;
    }
  }

  .mt-footer__social {
    align-items: center;
  }

}